---
layout: default
full_title: 全能保险柜加盟网-加盟赚钱好项目,加盟创业新项目
---
%article#billboard
  .bb.active
    .link
      %a{ href: "{{ site.www.qnnsafe.com }}/b-5440.html" } 全能金库B-5540
    .title
      %img{ src: "/assets/images/billboards/b-5440/title.png" }
    .subtitle
      %img{ src: "/assets/images/billboards/b-5440/subtitle.png" }
    .image
      %img{ src: "http://chain.qnnimg.com/products-large/b5540_01.jpg" }
  .bb
    .link
      %a{ href: "{{ site.www.qnnsafe.com }}/gtx-5842.html" } GTX-5842
    .title
      %img{ src: "/assets/images/billboards/gtx-5842/title.png" }
    .subtitle
      %img{ src: "/assets/images/billboards/gtx-5842/subtitle.png" }
    .image
      %img{ src: "/assets/images/billboards/gtx-5842/gtx-5842.jpg" }
#promo
  %ul
    %li
      %a{ href: "{{ site.www.qnnsafe.com }}/condition/", class: "promo_01" }
    %li
      %a{ href: "{{ site.www.qnnsafe.com }}/process/", class: "promo_02" }
    %li
      %a{ href: "{{ site.www.qnnsafe.com }}/support/", class: "promo_03" }
    %li
      %a{ href: "{{ site.www.qnnsafe.com }}/return/", class: "promo_04" }
#newsslider.wide.sliderkit.newslider-minimal
  .left<
    %a{ href: "{{ site.www.qnnsafe.com }}/news/" }<> 加盟信息
  .sliderkit-panels
    {% for post in site.categories["news"] limit:300 %}
    .sliderkit-panel
      %a{ href: '{{ site.www.qnnsafe.com }}{{ post.url }}', title: '{{ post.title }}' }<> {{ post.title }}
      %span.date {{ post.date | date:"%Y年%m月%d日" }}
    {% endfor %}
