---
layout: default
body_style: page
permalink: /news/
title: 加盟信息
keywords: 保险箱
description: 在这里我们会为您展示更多最新的关于全能保险柜的企业动态、媒体报道、品牌活动以及行业新闻，让您更快速直接的了解我司的最新状况。
---
.banner.banner-news
%article
  #newslist.center_content
    %ul
      {% for post in site.categories["news"] %}
      %li>
        %em {{ post.date | date:'%Y-%m-%d' }}
        %span.hide_if_mobile 〔{{ post.type }}〕
        %a{ href: '{{ post.url }}' } {{ post.title }}
      {% endfor %}
  .block.h50px
