---
layout: default
body_style: page
belongs_to: condition
permalink: /process/
title: 加盟流程
keywords: 全能保险柜
description: 安能保险柜旗下保险柜十大品牌全能保险柜致力创新研发各类型保险柜，保险箱，家用保险柜，家用保险箱等，拥有多年制造经验，曾获得多个荣誉。
---
.banner.banner-qnn
  .banner-text.banner-text-qnn
%article
  .page_nav
    %ul
      %li
        %a{ href: "/condition/" } 加盟条件
      %li.active
        %a{ href: "/process/" } 加盟流程
      %li
        %a{ href: "/support/" } 政策支持与保障
      %li
        %a{ href: "/reciprocation/" } 投资回报
  #contact.center_content
    .contact_box.pageTop
      .cb_header
        %h4 加盟咨询/加盟申请
      %p.cb_content
        通过全能网站或电话、传真、email等方式向总部咨询加盟事项，索取有关资料，详细了解全能，公司总部将派有经验的业务经理与您联系；如有意愿则填写加盟申请，确定您的加盟意向。
    .contact_box.pageTop
      .cb_header
        %h4 实地考察与合作洽谈
      %p.cb_content
        双方进行实地（专卖店）考察，并进一步磋商合作意向及市场拓展计划。深层次展示全能品牌销售战略、广告扶持政策以及市场政策；同时双方达成日后合作开发市场的目标及阶段性计划。
    .contact_box.pageTop
      .cb_header
        %h4 签订合同
      %p.cb_content
        双方确认，正式签订加盟合同，并确定专卖店装修方案。
    .contact_box.pageTop
      .cb_header
        %h4 业务培训
      %p.cb_content
        投资方来总部接受培训（产品知识、售后服务、市场推广）。
    .contact_box.pageTop
      .cb_header
        %h4 实施销售
      %p.cb_content
        总部协助投资方拓展市场实施销售，同时传授销售过程中的注意事项，并长期由专人进行负责管理，帮助销售业绩的提升。
    .contact_box.pageTop
      .cb_header
        %h4 信息反馈
      %p.cb_content
        加强双方的信息交流，解决在销售过程中疑难问题，帮助投资方进一步提升业绩，增强市场地位。于此同时不间断反馈公司的新产品动向和市场发展趋势信息，而投资方也应积极主动把市场前沿信息反馈至公司总部。
  .block.h50px
  :javascript
    if (Modernizr.cssanimations) {
      $(".pageTop").css({opacity: 0}).each(function(i){
        var val=i*200+'ms';
        $(this).css({
          '-webkit-animation-delay':val,
          '-moz-animation-delay':val,
          '-o-animation-delay':val,
          'animation-delay':val
        });
      });
      $(function(){
        $(".pageTop").addClass("play");
      });
    }
  .block.h50px
