---
layout: default
body_style: page
belongs_to: condition
permalink: /support/
title: 政策支持与保障
keywords: 全能保险柜
description: 安能保险柜旗下保险柜十大品牌全能保险柜致力创新研发各类型保险柜，保险箱，家用保险柜，家用保险箱等，拥有多年制造经验，曾获得多个荣誉。
---
.banner.banner-qnn
  .banner-text.banner-text-qnn
%article
  .page_nav
    %ul
      %li<
        %a{ href: "/condition/" } 加盟条件
      %li<
        %a{ href: "/process/" } 加盟流程
      %li.active<
        %a{ href: "/support/" } 政策支持
      %li<
        %a{ href: "/return/" } 投资回报
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  .pages.content.center_content
    #support
      %p.center_text 销售模式支持
      %p 未开店有就销量和利润，全能保险柜首创O2O销售新模式，利用网络销量及品牌知名度双第一的优势，将网络销售大笔订单直接交由线下代理商发货，赚取利润，经销商一旦加盟全能保险柜就会有大笔销售订单。
      %p.center_text 品牌推广支持
      %p 公司常年、系统、大力度的品牌宣传，并适时策划主题品牌活动，特别在网络推广上面，目前公司已经是网络销售和品牌知名度双第一品牌，可以为各区域经销商线下销售提供强大的销售拉力。
      %p.center_text 终端建设支持
      %p 公司免费提供产品展示展台，经销商产生装修费的专卖店或卖场，公司提供区域终端建设支持（卖场、专卖店等）装修支持。公司协助经销商进行店面选址、装修、产品上样、开业促销等工作，并免费提供统一的宣传物料支持。
      %p.center_text 广告支持
      %p 公司总部常年投放全国性的媒体广告（电视、平面媒体、网络等立体投放），同时支持各区域投放效果好的广告形式，并承担部分广告费。公司同时免费为经销商制作网站、网销平台，帮助进行品牌宣传（微博、微信等社交媒体）及网销方面的筹备工作。
      %p.center_text 促销支持
      %p 大型节假日，公司统一策划全国性的促销活动，提供特惠产品、终端宣传、导购支持等多方面的支持，帮助经销商打好节日促销仗。
      %p.center_text 展会支持
      %p 公司全年参加5-6次全国性的展会（家具展、家电展等），推广公司品牌的同时，为各区域经销商提供分销网络信息。公司支持各区域经销商参加当地知名的展会，承担部分展位及装修费。
      %p.center_text 培训支持
      %p 公司总部常年组织各种业务培训及导购培训会议，帮助提升经销商销售人员素质及技能，对于有具体需求的经销商，公司培训专员针对性出差到当地，组织当地的培训会议。
      %p.center_text 年终销售奖励
      %p 公司年终对于销售任务完成优秀的经销商，进行重奖；同时设立如网络开拓、优秀终端等单项奖励。
      %p.center_text 售后支持
      %p 专业的售后人员24小时提供咨询服务，经销商无法解决的售后问题，公司派专人出差到当地协助解决。部分产品易耗件，公司免费提供。
      %p.center_text 区域保护
      %p 公司实行区域代理制，严格执行区域保护政策，保护经销商的权利，保障健康的市场秩序。
  .block.h50px
