---
layout: default
body_style: page
belongs_to: condition
permalink: /condition/
title: 加盟条件
keywords: 全能保险柜
description: 安能保险柜旗下保险柜十大品牌全能保险柜致力创新研发各类型保险柜，保险箱，家用保险柜，家用保险箱等，拥有多年制造经验，曾获得多个荣誉。
---
.banner.banner-qnn
  .banner-text.banner-text-qnn
%article
  .page_nav
    %ul
      %li.active
        %a{ href: "/condition/" } 加盟条件
      %li
        %a{ href: "/process/" } 加盟流程
      %li
        %a{ href: "/support/" } 政策支持
      %li
        %a{ href: "/return/" } 投资回报
  .pages.content.center_content
    #condition
      %p{ style: "font-weight: bold; text-indent: 0;" } 加盟条件
      %p 1、良好的信誉与商业道德。
      %p 2、认同全能品牌的企业价值观和企业愿景。
      %p 3、具备一定的经济实力，具备一定的商业操作经验及扩展市场的能力。
      %p 4、稳定的营销管理团队基础。
      %p 5、曾经经营过保险柜产品、文具、家电、家居产品的优先考虑。
  .block.h50px
