---
layout: default
body_style: page
belongs_to: contact
permalink: /contact/
title: 联系我们
keywords: 保险柜
description: 全能公司致力于保险柜十大品牌创新研发保险柜、保险箱、家用保险柜、家用保险箱等系列产品，如有疑问，可根据以下信息联系我们。
---
%article
  .block.h50px
  .page_nav
    %ul
      %li.active<
        %a{ href: "/contact/" } 联系我们
      %li<
        %a{ href: "/maps/" } 网络地图
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  #contact.center_content
    .contact_box.pageTop
      .cb_header
        %h4 全能保险柜招商部
      %p.cb_content
        地址：广东省佛山市顺德大良街道凤翔工业区德翔路8号
        %br
        联系电话：0757-22308181、0757-22308182
        %br
        E-mail：sales@qnn.com.cn
    .contact_box.pageTop
      .cb_header
        %h4 刘美平
      %p.cb_content
        负责区域：广东（除粤西）
        %br
        联系电话：13825574533
        %br
        QQ：13825574533
    .contact_box.pageTop
      .cb_header
        %h4 叶毅海
      %p.cb_content
        负责区域：山东、上海、浙江、江苏、安徽、江西、福建、天津
        %br
        联系电话：13923222585
        %br
        QQ：13923222585
    .contact_box.pageTop
      .cb_header
        %h4 黎少雄
      %p.cb_content
        负责区域：湖南、湖北、河南
        %br  
        联系电话：13923280067
        %br
        QQ：13923280067
    .contact_box.pageTop
      .cb_header
        %h4 卢建升
      %p.cb_content
        负责区域：海南、广西、粤西
        %br
        联系电话：13928219733
        %br
        QQ：13928219733
    .contact_box.pageTop
      .cb_header
        %h4 王维
      %p.cb_content
        负责区域：黑龙江、吉林、辽宁
        %br  
        联系电话：13825525733
        %br
        QQ：13825525733
    .contact_box.pageTop
      .cb_header
        %h4 郭誉锋
      %p.cb_content
        负责区域：河北、山西、内蒙古
        %br
        联系电话：13928229588
        %br
        QQ：13928229588
    .contact_box.pageTop
      .cb_header
        %h4 谢瀚璋
      %p.cb_content
        负责区域：北京、云南、贵州、重庆、四川、陕西、甘肃、宁夏、青海、新疆、西藏
        %br
        联系电话：13929125049
        %br
        QQ：13929125049
    .contact_box.pageTop
      .cb_header
        %h4 周跃武
      %p.cb_content
        负责区域：国内外酒店工程
        %br
        联系电话：13825513533
        %br
        QQ：13825513533
  .block.h50px
:javascript
  if (Modernizr.cssanimations) {
    $(".pageTop").css({opacity: 0}).each(function(i){
      var val=i*200+'ms';
      $(this).css({
        '-webkit-animation-delay':val,
        '-moz-animation-delay':val,
        '-o-animation-delay':val,
        'animation-delay':val
      });
    });
    $(function(){
      $(".pageTop").addClass("play");
    });
  }
