---
layout: default
body_style: page
belongs_to: condition
permalink: /return/
title: 投资回报分析
keywords: 全能保险柜
description: 安能保险柜旗下保险柜十大品牌全能保险柜致力创新研发各类型保险柜，保险箱，家用保险柜，家用保险箱等，拥有多年制造经验，曾获得多个荣誉。
---
.banner.banner-qnn
  .banner-text.banner-text-qnn
%article
  .page_nav
    %ul
      %li<
        %a{ href: "/condition/" } 加盟条件
      %li<
        %a{ href: "/process/" } 加盟流程
      %li<
        %a{ href: "/support/" } 政策支持
      %li.active<
        %a{ href: "/return/" } 投资回报
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  .pages.content.center_content
    %table#return.table
      %thead.table-head
        %tr
          %th 项目
          %th 金额/面积
          %th 备注
      %tbody.table-body
        %tr
          %td 店铺面积
          %td 60～100 m²
          %td -
        %tr
          %td 店铺租金
          %td 5000～15000 元/月
          %td 店铺租金 + 店铺转让费用均摊
        %tr
          %td 办公费用
          %td 1000 元/月
          %td 水电、网络、电话传真等
        %tr
          %td 人员工资
          %td 1800 元/月 + 2个点提成
          %td 每店设一名导购员
        %tr
          %td.nowrap 物流、仓库、售后
          %td 3个点费用
          %td 此为综合均摊费用（与其他专卖店及渠道批发均摊）
        %tr
          %td 单店运营费用
          %td （7800～17800）+ 5个点
          %td -
        %tr
          %td 毛利率
          %td 50%
          %td -
        %tr
          %td 月度销售额
          %td 3～7万
          %td -
        %tr
          %td 单店月利润
          %td 5700～13700 元/月
          %td 月销售*毛利率-单店运营费
        %tr
          %td 单店年利润
          %td 6.84万～16.44万 元/年
          %td -
        %tr
          %td 店面装修
          %td
            4.8万～8万元（其中公司支持1.5万～2.5万元）
            %br
            实际支出：3.3万～5.5万 元
          %td 装修费均摊到三年，即每年约 1.1万～1.83万 元
        %tr
          %td 三年单店利润
          %td 17.22万～43.83万
          %td -
      %tfoot.table-foot
        %tr
          %td{ colspan: 3 }
            经销商单个专卖店盈利分析
  .block.h50px
