---
layout: default
body_style: page
permalink: /stores/
title: 专卖店展示
keywords: 保险柜
description: 安能保险柜公司成立伊始，就开始了与全球各大安防厂商的合作，积极向用户推广先进的各类安防设备，并提供咨询、安装、培训、维护等技术服务。

---
%article
  .block.h50px
  .page_nav
    %ul#filters
      %li.active<
        %a{ href: "#", data: { filter: "*" } } 全部地区
      %li<
        %a{ href: "#", data: { filter: ".huanan" } } 华南地区
      %li<
        %a{ href: "#", data: { filter: ".huadong" } } 华东地区
      %li<
        %a{ href: "#", data: { filter: ".huazhong" } } 华中地区
      %li<
        %a{ href: "#", data: { filter: ".huabei" } } 华北地区
      %li<
        %a{ href: "#", data: { filter: ".dongbei" } } 东北地区
      %li<
        %a{ href: "#", data: { filter: ".xinan" } } 西南地区
      %li<
        %a{ href: "#", data: { filter: ".xibei" } } 西北地区
      %li.dropdown<
        %a{ href: "#" }<
          %span.triangle.down
  .center_content
    #case_container
      .case_item.huadong
        %a{ href: "http://chain.qnnimg.com/stores/ahaq.jpg", title: "安徽安庆专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/ahaq.jpg", width: 120 }
          .case_title 安徽安庆专卖店
      .case_item.huadong
        %a{ href: "http://chain.qnnimg.com/stores/sdjn.jpg", title: "山东济南专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/sdjn.jpg", width: 120 }
          .case_title 山东济南专卖店
      .case_item.huadong
        %a{ href: "http://chain.qnnimg.com/stores/sh.jpg", title: "上海专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/sh.jpg", width: 120 }
          .case_title 上海专卖店
      .case_item.huadong
        %a{ href: "http://chain.qnnimg.com/stores/shld.jpg", title: "上海龙东专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/shld.jpg", width: 120 }
          .case_title 上海龙东专卖店
      .case_item.huadong
        %a{ href: "http://chain.qnnimg.com/stores/shcs.jpg", title: "上海川沙专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/shcs.jpg", width: 120 }
          .case_title 上海川沙专卖店
      .case_item.huadong
        %a{ href: "http://chain.qnnimg.com/stores/shsj.jpg", title: "上海松江专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/shsj.jpg", width: 120 }
          .case_title 上海松江专卖店
      .case_item.huadong
        %a{ href: "http://chain.qnnimg.com/stores/fjfz.jpg", title: "福建福州专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/fjfz.jpg", width: 120 }
          .case_title 福建福州专卖店
      .case_item.huadong
        %a{ href: "http://chain.qnnimg.com/stores/fjfzgs.jpg", title: "福建福州高山专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/fjfzgs.jpg", width: 120 }
          .case_title 福建福州高山专卖店
      .case_item.huadong
        %a{ href: "http://chain.qnnimg.com/stores/fjly.jpg", title: "福建龙岩专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/fjly.jpg", width: 120 }
          .case_title 福建龙岩专卖店
      .case_item.huadong
        %a{ href: "http://chain.qnnimg.com/stores/fjpt.jpg", title: "福建莆田专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/fjpt.jpg", width: 120 }
          .case_title 福建莆田专卖店
      .case_item.huadong
        %a{ href: "http://chain.qnnimg.com/stores/fjqzjj.jpg", title: "福建泉州晋江专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/fjqzjj.jpg", width: 120 }
          .case_title 福建泉州晋江专卖店
      .case_item.huadong
        %a{ href: "http://chain.qnnimg.com/stores/fjqzgq.jpg", title: "福建泉州高桥专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/fjqzgq.jpg", width: 120 }
          .case_title 福建泉州高桥专卖店
      .case_item.huadong
        %a{ href: "http://chain.qnnimg.com/stores/fjsm.jpg", title: "福建三明专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/fjsm.jpg", width: 120 }
          .case_title 福建三明专卖店
          
          
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/tj.jpg", title: "天津专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/tj.jpg", width: 120 }
          .case_title 天津专卖店
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/gzgy.jpg", title: "贵州贵阳专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/gzgy.jpg", width: 120 }
          .case_title 贵州贵阳专卖店
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/bj.jpg", title: "北京专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/bj.jpg", width: 120 }
          .case_title 北京专卖店
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/tj.jpg", title: "天津专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/tj.jpg", width: 120 }
          .case_title 天津专卖店
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/gzgy.jpg", title: "贵州贵阳专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/gzgy.jpg", width: 120 }
          .case_title 贵州贵阳专卖店
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/hljjms.jpg", title: "黑龙江佳木斯专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/hljjms.jpg", width: 120 }
          .case_title 黑龙江佳木斯专卖店
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/hljsc.jpg", title: "黑龙江双城专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/hljsc.jpg", width: 120 }
          .case_title 黑龙江双城专卖店
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/lnbx.jpg", title: "辽宁本溪专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/lnbx.jpg", width: 120 }
          .case_title 辽宁本溪专卖店
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/sccd.jpg", title: "四川成都专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/sccd.jpg", width: 120 }
          .case_title 四川成都专卖店
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/sxjc.jpg", title: "山西晋城专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/sxjc.jpg", width: 120 }
          .case_title "山西晋城专卖店
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/sxlf.jpg", title: "山西临汾专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/sxlf.jpg", width: 120 }
          .case_title 山西临汾专卖店
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/sccd.jpg", title: "四川成都专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/sccd.jpg", width: 120 }
          .case_title 四川成都专卖店
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/sccd4s.jpg", title: "四川成都4S专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/sccd4s.jpg", width: 120 }
          .case_title 四川成都4S专卖店
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/scmy.jpg", title: "四川绵阳专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/scmy.jpg", width: 120 }
          .case_title 四川绵阳专卖店
      .case_item.huabei
        %a{ href: "http://chain.qnnimg.com/stores/scnc.jpg", title: "四川南充专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/scnc.jpg", width: 120 }
          .case_title 四川南充专卖店
          
      .case_item.xinan
        %a{ href: "http://chain.qnnimg.com/stores/cqwz.jpg", title: "重庆万州专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/cqwz.jpg", width: 120 }
          .case_title 重庆万州专卖店
      .case_item.xinan
        %a{ href: "http://chain.qnnimg.com/stores/ynkm.jpg", title: "云南昆明专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/ynkm.jpg", width: 120 }
          .case_title 云南昆明专卖店
      .case_item.xinan
        %a{ href: "http://chain.qnnimg.com/stores/ynkm4s.jpg", title: "云南昆明4S专卖店" }
          %img{ height: 120, src: "http://chain.qnnimg.com/stores/150px/ynkm4s.jpg", width: 120 }
          .case_title 云南昆明4S专卖店

  .block.h50px
