与流程---
layout: default
body_style: page
belongs_to: wealth
permalink: /wealth/
title: 财富导航
keywords: 全能保险柜
description: 安能保险柜旗下保险柜十大品牌全能保险柜致力创新研发各类型保险柜，保险箱，家用保险柜，家用保险箱等，拥有多年制造经验，曾获得多个荣誉。
---
.banner.banner-qnn
  .banner-text.banner-text-qnn
%article
  .page_nav
    %ul
      %li.active
        %a{ href: "/wealth/" } 财富导航
      %li
        %a{ href: "/condition/" } 加盟条件与流程
      %li
        %a{ href: "/support/" } 政策支持与保障
      %li
        %a{ href: "/reciprocation/" } 投资回报
  .pages.content.center_content
    #wealth
      %p 全能为您全方位保驾护航
      %p 公司作为中国大陆领先的保险柜制造企业，肩负成为服务全球的国际性综合安防集团企业的使命，对每一位志同道合的加盟伙伴，公司将提供全方位的咨询和指导；为您实现财富梦想保驾护航。我们将为您提供优质的产品、一站式的服务、强大的品牌推广支持、实战的店面运营经验等。
  .block.h50px
